<h1>Shuffle and Sort</h1>

<div class="container">

  <div class="grid-container" id="card-block">
    <div class="grid-item" style="background-color: #6F98A8;">1</div>
    <div class="grid-item" style="background-color: #2B8EAD;">2</div>
    <div class="grid-item" style="background-color: #2F454E;">3</div>  
    <div class="grid-item" style="background-color: #2B8EAD;">4</div>
    <div class="grid-item" style="background-color: #2F454E;">5</div>
    <div class="grid-item" style="background-color: #BFBFBF;">6</div>  
    <div class="grid-item" style="background-color: #BFBFBF;">7</div>
    <div class="grid-item" style="background-color: #6F98A8;">8</div>
    <div class="grid-item" style="background-color: #2F454E;">9</div>  
  </div>

  <div class= "btn-group">
    <button class= "shuffle-btn" (click)="shuffle()">SHUFFLE</button>
    <button class= "sort-btn" (click)="sort()">SORT</button>
  </div>
</div>
<h3>Shuffle and Sort by Deepika Gupta</h3>

